{% extends "base.html" %}
{% load account socialaccount %}

{% block content %}

<p><a href="{% url 'account_login' %}">Login</a></p>
<p><a href="{% url 'account_signup' %}">Signup</a></p>


<h1>TESTE DE PAGINA INICIAL </h1>

<form action="{% url 'search_results' %}" method="get">
    <label for="uf">Estado: </label>
    <select name="uf" id="uf">

        <option value="AC">Acre</option>

        <option value="AL">Alagoas</option>

        <option value="AP">Amapá</option>

        <option value="AM">Amazonas</option>

        <option value="BA">Bahia</option>

        <option value="CE">Ceará</option>

        <option value="ES">Espírito Santo</option>

        <option value="GO">Goiás</option>

        <option value="MA">Maranhão</option>

        <option value="MT">Mato Grosso</option>

        <option value="MS">Mato Grosso do Sul</option>

        <option value="MG">Minas Gerais</option>

        <option value="PA">Pará</option>

        <option value="PB">Paraíba</option>

        <option value="PR">Paraná</option>

        <option value="PE">Pernambuco</option>

        <option value="PI">Piauí</option>

        <option value="RJ">Rio de Janeiro</option>

        <option value="RN">Rio Grande do Norte</option>

        <option value="RS">Rio Grande do Sul</option>

        <option value="RO">Rondônia</option>

        <option value="RR">Roraima</option>

        <option value="SC">Santa Catarina</option>

        <option value="SP" selected="">São Paulo</option>

        <option value="SE">Sergipe</option>

        <option value="TO">Tocantins</option>

        <option value="DF">Distrito Federal</option>

    </select>
    <label for="cidade">Cidade: </label>
    <input name="cidade" id="cidade" type="text" placeholder="Cidade...">
    <label for="search" id="search">Procurar: </label>
    <input name="search" type="text" placeholder="Procurar...">

    <button type="submit">Procurar</button>

</form>

{% endblock content%}