{% extends 'base.html' %}

{% block content%}
<h1>Esse é o perfil</h1>

<div class="content-section">

        <div class="media">
            <img src="{{ user.profile.picture.url}}" alt="">
            <h2>{{user.username}}</h2>
            <p>{{user.email}}</p>
        </div>
        <form method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              {{ user_form }}
              {{ profile_form }}
            <button type="submit">Update</button>
        </form>
</div>

{% endblock content%}
